<div class="top-nav text-center" ng-cloak>
    [[ title ]]
</div>

<div ng-cloak class="wrapper-form col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-show="user.is_banned">
            <p class="bg-danger">You lose access to the app until [[ user.banned_to | date:'medium' ]]</p>
        </div>
    </div>

    <!-- postloader -->
    <div layout="row" layout-align="space-around" ng-show="loginProcess">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- form for login-->
    <form name="loginForm" class="form-horizontal action_add" role="form" method="POST">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
                <div layout="column">
                    <md-input-container flex>
                        <label>Your name</label>
                        <input required name="username" ng-model="user.fullname">

                        <div ng-messages="loginForm.username.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Membership card id</label>
                        <input required name="card_id" ng-model="user.mem_id" type="number">
                        <div ng-messages="loginForm.card_id.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>

            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <md-button ng-disabled="loginForm.$invalid" class="login-btn md-raised md-primary" ng-click="sendLoginData()">ok</md-button>
            </div>

    </form>

        <!-- Flash error messages -->
        <div class="col-lg-12">
            <div flash-message="4000"></div>
        </div>
</div>
