.top-nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #e7e7e7;
    padding-top: 20px;
    color: gray;
    text-transform: uppercase;
}

.wrapper-form {
    text-align: center;
    margin-top: 150px;
}

.home {
    margin-top: 150px;
}

.flash-message {
    margin-top: 60px;
    position: fixed;
    top: 0;
     right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 30%;
}

#cog-on-nav {
    margin-right: 10px;
}

#cog-on-nav > a {
    padding: 3px 5px;
    min-height: 50px;
}

#user-on-nav-xs > a {
    padding: 3px 0;
    margin: 0 30px;
}

#calendar-on-nav-xs > a {
    padding: 3px 0;
    margin-left: 15px;
}

.disable-time-slot {
    background-color: #EBE9E9;
}

.cancel-order-block {
    margin-top: 30px;
}

.cancel-order-block > a {
    color: gray;
}

.order-time-step {
    border: solid 1px #ddd;
    padding: 30px;
    height: 160px;
}

.calendar-block {
    margin-top: -80px;
}

.order-detail {
    border: solid 1px #ddd;
}

/* ng - animate */
.order-detail.ng-enter {
    animation: fadeInU 1s;
}

.order-detail.ng-leave {
    animation: fadeOutDownBig 2s;
}

.order-time-step.ng-enter {
    animation: fadeInDown 1s;
}
/*! ng - animate */

.modal.center .modal-dialog {
    position:fixed;
    top:40%;
    left:50%;
    min-width:320px;
    max-width:630px;
    width:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}