<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>
                    <small>[[ makeOrderModalQuestion ]]</small>
                </h2>

            </div>
            <div class="modal-footer text-center center-block">
                <button type="button" class="btn btn-default btn-lg" ng-click="cancel()">No</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="approveDialog()">Yes
                </button>
            </div>
            </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

<!-- Old modal -->
<!--
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h2 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body text-center">

        <h2><small>[[ makeOrderModalQuestion ]]</small></h2>

      </div>
        <div class="modal-footer text-center center-block">
            <button type="button" class="btn btn-default btn-lg" ng-click="$hide()">No</button>
            <button type="button" class="btn btn-primary btn-lg" ng-click="makeOrder($index);$hide()">Yes</button>
        </div>
    </div>
  </div>
</div>

  -->