<div class="home-wrapper" ng-show="isUserAuth">

    <div ng-include="'/static/partials/nav.html'"></div>

    <div class="container-fluid" ng-cloak>
        <div class="row home">

            <div class="calendar-block col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <!-- <div ui-calendar="uiConfig.calendar" ng-model="booking" calendar="myCalendar"></div> -->

                <div class="top-nav-reverse text-center" ng-cloak>
                    <strong>[[ dateNow ]]</strong>
                </div>

                <table class="date-table table">
                    <thead>
                    <tr>
                        <th ng-repeat="date in dates">
                            [[ date | date: 'EEE' ]]
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ng-repeat="date in dates" ng-click="getOrdersBySelectedDate(date);select($index)"
                            ng-class="{active: $index == selected}">
                            [[ date | date: 'd']]
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!-- preloader for time list -->
            <div class="row" ng-hide="bookingLoad">
                <div class="wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center center-block">
                    <div layout="row" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-if="bookingLoad">
                <div class="row">
                    <div class="order-time-step col-lg-3 col-md-4 col-sm-4 col-xs-12"
                         ng-class="{'disable-time-slot':booking.is_booked}" ng-repeat="booking in booking">
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 text-center">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <h5>[[ selectedDate | date:'MMM d' ]]</h5>
                                        <h4><strong>[[ booking.time_start | limitTo:5 ]] - [[ booking.time_end |
                                            limitTo:5 ]]</strong></h4>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 text-center">
                                <md-button class="md-raised" ng-hide="booking.is_booked"
                                           ng-click="showConfirm($event, $index)">
                                    <i class="fa fa-plus fa-md"></i> Order
                                </md-button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Flash error messages -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div flash-message="4000"></div>
    </div>
</div>